#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer{
  flex-grow: 1;
}

.circulo{
  border-radius: 50%;
  border-color: aqua;
  border-style: groove;
  border-width: 0.3rem;
  background-color: darkblue;
  width: 3rem;
  height: 2rem;
}